scipy/scipy.py
*.pyc
*.py
ToDo-API/myenv/Lib/site-packages/distutils-precedence.pth
ToDo-API/myenv/Lib/site-packages/pip-23.0.1.dist-info/entry_points.txt
ToDo-API/myenv/Lib/site-packages/pip-23.0.1.dist-info/INSTALLER
ToDo-API/myenv/Lib/site-packages/pip-23.0.1.dist-info/LICENSE.txt
ToDo-API/myenv/Lib/site-packages/pip-23.0.1.dist-info/METADATA
ToDo-API/myenv/Lib/site-packages/pip-23.0.1.dist-info/RECORD
ToDo-API/myenv/Lib/site-packages/pip-23.0.1.dist-info/REQUESTED
ToDo-API/myenv/Lib/site-packages/pip-23.0.1.dist-info/top_level.txt
ToDo-API/myenv/Lib/site-packages/pip-23.0.1.dist-info/WHEEL
ToDo-API/myenv/Lib/site-packages/pip/_vendor/certifi/cacert.pem
ToDo-API/myenv/Lib/site-packages/pip/_vendor/distlib/t32.exe
ToDo-API/myenv/Lib/site-packages/pip/_vendor/distlib/t64-arm.exe
ToDo-API/myenv/Lib/site-packages/pip/_vendor/distlib/t64.exe
ToDo-API/myenv/Lib/site-packages/pip/_vendor/distlib/w32.exe
ToDo-API/myenv/Lib/site-packages/pip/_vendor/distlib/w64-arm.exe
ToDo-API/myenv/Lib/site-packages/pip/_vendor/distlib/w64.exe
ToDo-API/myenv/Lib/site-packages/pip/_vendor/vendor.txt
ToDo-API/myenv/Lib/site-packages/pip/py.typed
ToDo-API/myenv/Lib/site-packages/setuptools-65.5.0.dist-info/entry_points.txt
ToDo-API/myenv/Lib/site-packages/setuptools-65.5.0.dist-info/INSTALLER
ToDo-API/myenv/Lib/site-packages/setuptools-65.5.0.dist-info/LICENSE
ToDo-API/myenv/Lib/site-packages/setuptools-65.5.0.dist-info/METADATA
ToDo-API/myenv/Lib/site-packages/setuptools-65.5.0.dist-info/RECORD
ToDo-API/myenv/Lib/site-packages/setuptools-65.5.0.dist-info/REQUESTED
ToDo-API/myenv/Lib/site-packages/setuptools-65.5.0.dist-info/top_level.txt
ToDo-API/myenv/Lib/site-packages/setuptools-65.5.0.dist-info/WHEEL
ToDo-API/myenv/Lib/site-packages/setuptools/cli-32.exe
ToDo-API/myenv/Lib/site-packages/setuptools/cli-64.exe
ToDo-API/myenv/Lib/site-packages/setuptools/cli-arm64.exe
ToDo-API/myenv/Lib/site-packages/setuptools/cli.exe
ToDo-API/myenv/Lib/site-packages/setuptools/command/launcher manifest.xml
ToDo-API/myenv/Lib/site-packages/setuptools/gui-32.exe
ToDo-API/myenv/Lib/site-packages/setuptools/gui-64.exe
ToDo-API/myenv/Lib/site-packages/setuptools/gui-arm64.exe
ToDo-API/myenv/Lib/site-packages/setuptools/gui.exe
ToDo-API/myenv/Lib/site-packages/setuptools/script (dev).tmpl
ToDo-API/myenv/Lib/site-packages/setuptools/script.tmpl
ToDo-API/myenv/pyvenv.cfg
ToDo-API/myenv/Scripts/activate
ToDo-API/myenv/Scripts/activate.bat
ToDo-API/myenv/Scripts/Activate.ps1
ToDo-API/myenv/Scripts/deactivate.bat
ToDo-API/myenv/Scripts/pip.exe
ToDo-API/myenv/Scripts/pip3.10.exe
ToDo-API/myenv/Scripts/pip3.exe
ToDo-API/myenv/Scripts/python.exe
ToDo-API/myenv/Scripts/pythonw.exe
